.App {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  text-align: center;
  font-family: "Courier New", Courier, monospace, serif;
  color: white;
  min-height: 100%;
}

html,
body {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  text-align: center;
  font-family: "Courier New", Courier, monospace, serif;
  color: white;
  min-height: 100%;
  
}


@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.App, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}


.welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.h1-less-padding {
  font-size: 5rem;
  padding-bottom: 0rem;
  line-height: 0rem;
}

.hovered-text {
    font-size: 18px;
    cursor: pointer;
    animation: rainbowPulse 5s infinite;
  }
  
  @keyframes rainbowPulse {
    0% {
      color:pink;
    }
    25% {
      color: blueviolet;
    }
    50% {
        color: violet;
      }
      75% {
        color: lightblue;
      }
      100% {
        color: hotpink;
      }
  }


  .about {
    width: 75%;
    margin: 0 auto;
    font-size: 13px;
  }

  .rainbow {
    animation: rainbowPulse 5s infinite;
    padding-top: 2rem;
  }

 .link {
   color: white;
   text-decoration: none;
 }



 a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightpink;
}

/* mouse over link */
a:hover {
  font-size: 18px;
  cursor: pointer;
  animation: rainbowPulse 5s infinite;
}

/* selected link */
a:active {
  color: blueviolet;
}